resources:
  repositories:
  - repository: self
    type: git
    ref: main
jobs:
- job: Job_1
  displayName: Agent-Anil
  pool:
    name: MyOwnAzurePool
  steps:
  - checkout: self
    clean: true
    fetchTags: false
  - task: PowerShell@2
    displayName: Execute echo command
    inputs:
      targetType: inline
      script: echo "Execute echo command stage"#>-
#        if (Test-Path "extensions.csproj") {
#             dotnet build extensions.csproj --output ./bin
#        }
  - task: ArchiveFiles@2
    displayName: Archive files
#    inputs:
#      rootFolderOrFile: $(System.DefaultWorkingDirectory)
#      includeRootFolder: false
#  - task: PublishBuildArtifacts@1
#    displayName: 'Publish Artifact: drop'
#...
